<table style="border:1px #70b8ff dashed;width:300px">
	<tr>
		<td colspan="3" style="text-align: center"> <input size="25" type="text" value="Search" /><input type="button" value="search" /></td>
	</tr>
</table>

<table>
	<tr>
		<td colspan="3">Search Results</td>
	</tr>
	<tr>
		<td><a href="/roly/23"><img src="" width="65" height="65"></a></td>
		<td><a href="/roly/23">Mariscos El Pancho</a><br />San Francisco CA<br /><img src="" width="16" height="16"><img src="" width="16" height="16"><img src="" width="16" height="16"></td>
		<td><a href="">Add to Album</a></td>
	</tr>
	<tr>
		<td><a href="/roly/23"><img src="" width="65" height="65"></a></td>
		<td><a href="/roly/23">La Bahía</a><br />San Francisco CA<br /><img src="" width="16" height="16"><img src="" width="16" height="16"><img src="" width="16" height="16"></td>
		<td><a href="">Add to Album</a></td>
	</tr>
	<tr>
		<td><a href="/roly/23"><img src="" width="65" height="65"></a></td>
		<td><a href="/roly/23">El Jarocho</a><br />San Francisco CA<br /><img src="" width="16" height="16"><img src="" width="16" height="16"><img src="" width="16" height="16"></td>
		<td><a href="">Add to Album</a></td>
	</tr>
	<tr>
		<td><a href="/roly/23"><img src="" width="65" height="65"></a></td>
		<td><a href="/roly/23">Los Compadres</a><br />San Francisco CA<br /><img src="" width="16" height="16"><img src="" width="16" height="16"><img src="" width="16" height="16"></td>
		<td><a href="">Add to Album</a></td>
	</tr>
</table>
<table>
	<tr>
		<td colspan="3">Viaje Mazatlan</td>
	</tr>
	<tr>
		<td><a href="/roly/23"><img src="" width="65" height="65"></a></td>
		<td><a href="/roly/23">Fomento Geek</a><br />San Francisco CA<br /><img src="" width="16" height="16"><img src="" width="16" height="16"><img src="" width="16" height="16"></td>
		<td></td>
	</tr>
	<tr>
		<td><a href="/roly/23"><img src="" width="65" height="65"></a></td>
		<td><a href="/roly/23">Rodrigo Valades</a><br />San Francisco CA<br /><img src="" width="16" height="16"><img src="" width="16" height="16"><img src="" width="16" height="16"></td>
		<td></td>
	</tr>
</table>
