<h1>Add Roly</h1>

<h2>QR Code Scan</h2>
<p>Link to scan code on Android</p>
456F34

<h2>Enter Code</h2>
	<%= form_for @edit_roly_form , multipart: true, url: request.path, :html => {:id => 'submit_form',:multipart => true} do |f| %>
  	<%= submit_tag("Update") %>
	<% end %>
<h2>By Geofence</h2>
