<div class="title">
  <h2>Search</h2>
</div>
<div class="form-group">
  <label for="name" class="control-label">Name</label>
  <div class="">
   <input type="text" placeholder="Name" class="form-control">
  </div>
</div>
<div class="form-group">
  <label for="Description" class="control-label">Description</label>
  <div class="">
   <input type="text" placeholder="Description" class="form-control">
  </div>
</div>
<div class="form-group">
  <label for="Location" class="control-label">Location</label>
  <div class="">
    <input type="text" placeholder="Location" class="form-control" />
  </div>
  <div class="">
    <select class="">
      <option>Anywhere</option>>
      <option>10 km</option>>
      <option>20 km</option>>
    </select>
</div>
</div>
<div class="form-group">
  <button class="btn btn-default">Search </button>
</div>
