<div><a href="/my_roly_cards/view/<%= @roly.id %>">Back to roly</a></div>
<div></div>
<div><%= image_tag @roly.photo.url(:thumb), :style => "width:100px;padding:10px;vertical-align:middle" %>
</div>
<div>
	<%= @roly.title %>
	<br>
</div>

<div>
	<%= @roly.address %>
</div>
<div>
	Share code 456F34
</div>
<div>
	email roly	
</div>
<div>
	Make available in area
</div>



<div>
	<img src="/qr.jpg?url=23233234223" />
</div>
<hr>
<table style="border:1px #70b8ff dashed;width:300px">
	<tr>
		<td style="border:1px #70b8ff dashed">
		<div style="text-align:center">
			Website link
		</div></td>
		<td style="border:1px #70b8ff dashed">
		<table style="border:1px #70b8ff dashed">
			<tbody>
				<tr>
					<td>
					<div><img src="http://www.iessantafe.edu.ar/iesweb/img/facebook-icon.png">
					</div><td>
					<div>
						3
					</div></td>
					<td>
					<div>
						likes
					</div></td>
		</td>
	</tr>
	</tbody>
</table>
</td>
<td style="border:1px #70b8ff dashed">
<table style="border:1px #70b8ff dashed">
	<tbody>
		<tr>
			<td>
			<div><img src="http://bleachtree.com/images/twitter_icon.png">
			</div><td>
			<div>
				98
			</div></td>
			<td>
			<div>
				followers
			</div></td>
</td></tr>
</tbody>
</table>
</td>
</tr>
</table>
<hr>
