<div><a href="/my_roly_cards/view/<%= @roly.id %>">Back to roly</a></div>
<div></div>
<div><%= image_tag @roly.photo.url(:thumb), :style => "width:100px;padding:10px;vertical-align:middle" %>
</div>
<div>
	<%= @roly.title %>
	<br>
</div>

<div>
	<%= @roly.address %>
</div>
<div style="text-align: center;font-size: 24pt">
	456F34
</div>
<div>
	<img src="/qr.jpg?url=http://roly.dnsdojo.com:3000/r/cbc/456F34" />
</div>

<hr>
<div>
	email roly	
</div>
<div>
	Make available in area
	<select>
		<option>1 minute</option>
		<option>5 minutes</option>
		<option>10 minutes</option>
		<option>1 hour</option>
		<option>12 hours</option>
		<option>1 day</option>
		<option>1 year</option>
		<option>Indefinately</option>
	</select>
</div>
