<table>
	<tr>
		<td><a href="/album/add"><img src="" width="65" height="65"></a></td>
		<td><a href="/album/add">Today</a></td>
		<td></td>
	</tr>
</table>
<table>
	<tr>
		<td><a href="/album/add"><img src="" width="65" height="65"></a></td>
		<td><a href="/album/add">Favoritos</a></td>
		<td></td>
	</tr>
</table>
<table>
	<tr>
		<td><a href="/album/add"><img src="" width="65" height="65"></a></td>
		<td><a href="/album/add">Todos</a></td>
		<td></td>
	</tr>
</table>
<table>
	<tr>
		<td><a href="/album/add"><img src="" width="65" height="65"></a></td>
		<td><a href="/album/add">Viaje Hungría</a></td>
		<td></td>
	</tr>
</table>
<table>
	<tr>
		<td><a href="/album/add"><img src="" width="65" height="65"></a></td>
		<td><a href="/album/add">Work</a></td>
		<td></td>
	</tr>
</table>
<table>
	<tr>
		<td><a href="/album/add"><img src="" width="65" height="65"></a></td>
		<td><a href="/album/add">Restaurantes</a></td>
		<td></td>
	</tr>
</table>
<table>
	<tr>
		<td><a href="/album/add"><img src="" width="65" height="65"></a></td>
		<td><a href="/album/add">Travel</a></td>
		<td></td>
	</tr>
</table>
