
<table>
	<tr>
		<td><a href="/roly/23"><img src="" width="65" height="65"></a></td>
		<td><a href="/roly/23">Fomento Geek</a><br />San Francisco CA<br /><img src="" width="16" height="16"><img src="" width="16" height="16"><img src="" width="16" height="16"></td>
		<td></td>
	</tr>
</table>
<table>
	<tr>
		<td><a href="/roly/23"><img src="" width="65" height="65"></a></td>
		<td><a href="/roly/23">Rodrigo Valades</a><br />San Francisco CA<br /><img src="" width="16" height="16"><img src="" width="16" height="16"><img src="" width="16" height="16"></td>
		<td></td>
	</tr>
</table>
