//
// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the top of the
// compiled file, but it's generally better to create a new file per style scope.
//

@import "bootstrap";

body { padding-bottom: 70px; }

.title {
  text-align: center;
  margin-top: 7.5em;
  margin-bottom: 2em;
  @media screen and (min-width: $screen-sm) and (max-width: $screen-sm-max){
    margin-top: 7.5em;
  }
  @media screen and (min-width: $screen-md) and (max-width: $screen-md-max){
    margin-top: 5em;
  }
  @media screen and (min-width: $screen-lg){
    margin-top: 5em;
  }
}

.center {
  text-align: center;
}
